body {
  font-family: 'Montserrat';
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  color: #95A658;
}

#sobre {
  padding: 7% 0%;
  background-color: #fff;
  text-align: center;
}

#quem {
  padding: 7% 15%;
  background-color: #A1BF60;
}

#onde {
  padding: 7% 15%;
  background-color: #fff;
}

#cta {
  padding: 7% 15%;
  background-color: #A1BF60;
  text-align: center;
  font-size: 1.5rem;
}

#footer {
  padding: 3% 15%;
  text-align: center;
  background-color: #F2F2F2;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  color: #fff;
  font-size: 20px;
  padding: 0 18px;
}


.navbar-brand {
  padding: 10px 15px;
}

.map {
  text-align: center;
}

.map-frame {
  padding: 25px;
}

.i-footer {
  font-size: 2.5rem;
  margin: 20px 10px;
}

.i-footer:hover {
  color: #A1BF60;
}

.text-footer {
  padding: 3%;
}

.footer-link {
  color: #000;
}

.gustavo-img {
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 10%;
}

.carousel-img {
  padding: 0% 5%;
  border-radius: 10%;
}

.quem {
  padding: 5% 0;
  text-align: justify;
}

.i-cta {
  margin: 20px;
  font-weight: bold;
}

.btn-lg {
  font-weight: bold;
  font-size: 2rem;
}
